.footer-wrapper {
    background: #6278F7;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.footer-wrapper .social-media {
    display: flex;
    justify-content: center;
    width: 33.33%;
}

.footer-wrapper .social-media img{
    padding: 5px;
}

.footer-wrapper .logo {
    display: flex;
    justify-content: center;
    width: 33.33%;
}
.footer-wrapper .copyright {
    display: flex;
    justify-content: center;
    width: 33.33%;
    flex-wrap: wrap;
}
